
body {
    background-color:rgb(66, 184, 174);
    align-content: center;
  }
 
  h1 {
    color: black;
    text-align: center;
    height: 100 px;
    font-family: "Times New Roman", Times, serif;
  }
  
  h2 {
    text-align: center;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card {
    position: relative;
    box-shadow: 0 0 5 px 2 px rgba(0, 0, 0, 0.3);
    background-color: rgb(241, 238, 231);
    width: 16rem;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 30px;
    border: 4px dotted black;
    border-radius: 2rem;
    margin: 2rem;
    transition: 150 ms;
    transform: perspective(1000 px) rotateY(var(--rotate-y, 0)); 
  }

  .card.flip {
    --rotate-y: 180deg;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cards,
  .cardback {
    flex: 1 1 150px;
    height:40rem;
    width: 16rem;
    text-align: center;
    font-weight: bold;
    position: absolute;
    backface-visibility: hidden;
  }
   .card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40 px -10px rgba(0, 0 ,0 ,0.25) ;
   }